<!-- Styles.css is a CSS styling sheet for index.html and changes the background color,
text styling and coloring for p and h1 -->


<!-- Edited 2/15 -->

body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration: wavy;

  color: green;
  background-color: orange;
} 
  

}
p {
  font-size:small;
  color: red;
}
