body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration: wavy;

  color: green;
  background-color: #F30808;
}
p {
  font-size:small;
  color: purple;
}
