.Login_Box {
    /*Centers our login box*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*Changes BG Color and makes the box readable*/
    background-color: whitesmoke;
    z-index: -100;
    opacity: 80%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;

    
    box-shadow: 0 0 2rem 2rem #6796EB;

    /* Border around the login box */
    /*border: 10px solid #6796EB; */
    /*border-radius: 25px; */
  }


.password_requirements {
    position: absolute;
    top: 50%;
    right: 70%;
     width:15%;
    text-align:right;   
     font-size: 14px;

    
    
}

  @media only screen and (max-width: 1200px) {
    
        .Login_Box {
            /*Centers our login box*/
            position: absolute;
            top: 50%;
            left: 50%;
            width: 95%;
            height: 95%;
            transform: translate(-50%, -50%);
            
            /*Changes BG Color and makes the box readable*/
            background-color: antiquewhite;
            z-index: -100;
            opacity: 80%;

        
        
            /* Border around the login box */
            border: 10px solid #6796EB;
            border-radius: 25px;
    }
  


}

  input {
    /* Modifies the login fields */
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
  }


label {
clear: right;
 font-size:small;
    display: inline-block;
}

#checkbox {
    clear: left;
    display: inline-block;
    padding:20px
}

#terms_text {
 clear: left;
    padding:20px
    
}

  input:focus {
      /* Improves visability when clicked by adding border around box */
    border: 5px solid blue;
    
  }

  #submit_button {
      /*Makes Submit button Pop Out */
      background-color: green;
      font-size: large;
      
  }

  #submit_button:hover {
    opacity:100% !important ;
  }


  h3 {
      /*Reduces font size for bottom text */
    font-size: medium;

  }



  body { 

    /*Background for the page */
    min-height: 100%;
    background-image: url("https://is448-website.s3.amazonaws.com/florida.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


    /*General font for the page, will be overriden by anything else */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    
    /*Larger Z-index means that Background will be behind the other elements */
    z-index: 1;
  
  }

.Site_Link:link {
    color:#6796EB;
}


.Site_Link:hover {
    color:green;
}




.fa-facebook {
    color: #3b5998;
    
}


.fa-instagram {
    color: #517fa4;
    
}


.fa-twitter {
   color: #00aced;
    
}

#submit_button {
    
  width: 50%;  
    
}
