.Login_Box {
    /*Centers our login box*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*Changes BG Color and makes the box readable*/
    background-color: whitesmoke;
    z-index: -100;
    opacity: 80%;
    padding: 5%;
    padding-top: 10px;


    /* Border around the login box */
    border: 10px solid black;
    border-radius: 25px;
  }


  @media screen and (max-width: 600px) {
    
        .Login_Box {
            /*Centers our login box*/
            position: absolute;
            top: 50%;
            left: 50%;
            width: 95%;
            height: 95%;
            transform: translate(-50%, -50%);
            
            /*Changes BG Color and makes the box readable*/
            background-color: whitesmoke;
            z-index: -100;
            opacity: 80%;

        
        
            /* Border around the login box */
            border: 10px solid black;
            border-radius: 25px;
    }
  


}

  input {
    /* Modifies the login fields */
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
  }

  input:focus {
      /* Improves visability when clicked by adding border around box */
    border: 5px solid black;
    
  }

  #submit_button {
      /*Makes Submit button Pop Out */
      background-color: green;
      font-size: large;
      
  }

  #submit_button:hover {
    opacity:100% !important ;
  }


  h3 {
      /*Reduces font size for bottom text */
    font-size: medium;

  }



  body { 

    /*Background for the page */
    min-height: 100%;
    background-image: url("https://arlcyber.me/logos/florida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


    /*General font for the page, will be overriden by anything else */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    
    /*Larger Z-index means that Background will be behind the other elements */
    z-index: 1;
  
  }
