.favoriteCardsContainer {
	float: left;
	margin-top: 4.5%;
	text-align: justify;
	border: 4px #6796EB solid;
	border-radius: 8px 30px;
	padding: 8px;
	background-color: white;
	padding-bottom: 29%;
	
}

li {
	margin-top: 2px;
	margin-bottom: 2px;
	
}

.cardsContainer {
	float: left;
	margin-top: 4.5%;
	text-align: justify;
	border: 4px #6796EB solid;
	border-radius: 5px 30px;
	padding: 8px;
	background-color: white;
}
