.favoriteCardsContainer {
	border: 4px #6796EB solid;
	border-radius: 5px 30px;
	padding: 8px;
	padding-bottom: 29%;
	margin-right: 20px;
	background-color: white;
	float: left;
}

ul.display {
	float:left;
	margin: 8px;
	background-color: antiquewhite;
}

li {
	margin-top: 2px;
	margin-bottom: 2px;
	
}

.cardsContainer {
	float:left;
	margin-bottom: 8px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

