@charset "utf-8";
/* CSS Document */
.left {
  float: left;
  width: 33.33%;
  padding: 10px;
text-align: center;

}

.right{
  float: left;
  width: 600px;
}
	
.cardDetails{
	margin-top: 4.5%;
	text-align: justify;
	border: 4px #6796EB solid;
	border-radius: 5px 30px;
	padding: 8px;
	background-color: white;
}
.card{
	margin-left: 2%;
	margin-right: 3%;
	object-fit: cover;
	background-color: white;
}

.cart{
	float: right;
}
.price{
	border: 2px #6796EB solid;
	background-color: white;
}
